In [378]:
import pandas as pd
import os
import datetime
import numpy as np
os.chdir('C:/Users/eatthim/Documents/Telefonica/James Request/OneDrive_1_5-15-2020/')
import warnings
warnings.simplefilter('ignore')

# Read hop data

In [379]:
df=pd.read_excel('Hop details-All.xlsx')

In [380]:
df.head()

,INC Goal Time Priority,Unnamed: 1,INC Met SLA,INC Incident ID,INC Summary,INC Resolution,INC Assigned Group,INC Assigned Support Organisation,INC Assignment Hop,INC Assignment Support Group,INC Assignment Start Date,INC Assignment End Date,INC Assignment Hours,INC Restored Date,INC Last Resolved Date,INC CI Name,INC Resolved By
0,Critical 2h,1.0,No,INC000003474513,Birmingham switch site isolated,Planned transmission activities on a non-resil...,Voice,Networks - NMC - Core,0.0,Voice,2019-08-31 22:17:54,2019-09-01 00:00:24,1.71,2019-09-01 06:42:18,2019-09-01 06:42:18,mbc32,chaudhs
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Core Voice Support,2019-09-01 00:00:24,2019-09-01 00:51:39,0.85,2019-09-01 06:42:18,2019-09-01 06:42:18,mbc32,chaudhs
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Voice,2019-09-01 00:51:39,2019-09-01 06:42:18,5.84,2019-09-01 06:42:18,2019-09-01 06:42:18,mbc32,chaudhs
3,Critical 4h,2.0,Yes,INC000002559048,2G and 3G Voice and Data in North East coast f...,Service to the affected sites was restored aft...,1st Line,Networks - NMC - Radio,0.0,1st Line,2019-01-16 08:13:36,2019-01-16 09:28:53,1.25,2019-01-16 09:28:53,2019-01-16 09:28:53,002774g,juppal1
4,NaN,NaN,NaN,INC000003194963,Loss of 2G Voice and Data services across 72 s...,Service was resolved after SPMC teams manually...,1st Line,Networks - NMC - Radio,0.0,1st Line,2019-08-07 16:21:38,2019-08-07 18:33:08,2.19,2019-08-07 18:33:08,2019-08-07 18:33:08,000857g,sharmar16

In [381]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '_').str.replace(')', '_').str.replace('.','_')

In [382]:
df1 = df.drop(['unnamed:_1'], axis=1)
df2 = df1.ffill(axis = 0)

In [383]:
df2.head()

,inc_goal_time_priority,inc_met_sla,inc_incident_id,inc_summary,inc_resolution,inc_assigned_group,inc_assigned_support_organisation,inc_assignment_hop,inc_assignment_support_group,inc_assignment_start_date,inc_assignment_end_date,inc_assignment_hours,inc_restored_date,inc_last_resolved_date,inc_ci_name,inc_resolved_by
0,Critical 2h,No,INC000003474513,Birmingham switch site isolated,Planned transmission activities on a non-resil...,Voice,Networks - NMC - Core,0.0,Voice,2019-08-31 22:17:54,2019-09-01 00:00:24,1.71,2019-09-01 06:42:18,2019-09-01 06:42:18,mbc32,chaudhs
1,Critical 2h,No,INC000003474513,Birmingham switch site isolated,Planned transmission activities on a non-resil...,Voice,Networks - NMC - Core,1.0,Core Voice Support,2019-09-01 00:00:24,2019-09-01 00:51:39,0.85,2019-09-01 06:42:18,2019-09-01 06:42:18,mbc32,chaudhs
2,Critical 2h,No,INC000003474513,Birmingham switch site isolated,Planned transmission activities on a non-resil...,Voice,Networks - NMC - Core,2.0,Voice,2019-09-01 00:51:39,2019-09-01 06:42:18,5.84,2019-09-01 06:42:18,2019-09-01 06:42:18,mbc32,chaudhs
3,Critical 4h,Yes,INC000002559048,2G and 3G Voice and Data in North East coast f...,Service to the affected sites was restored aft...,1st Line,Networks - NMC - Radio,0.0,1st Line,2019-01-16 08:13:36,2019-01-16 09:28:53,1.25,2019-01-16 09:28:53,2019-01-16 09:28:53,002774g,juppal1
4,Critical 4h,Yes,INC000003194963,Loss of 2G Voice and Data services across 72 s...,Service was resolved after SPMC teams manually...,1st Line,Networks - NMC - Radio,0.0,1st Line,2019-08-07 16:21:38,2019-08-07 18:33:08,2.19,2019-08-07 18:33:08,2019-08-07 18:33:08,000857g,sharmar16

# Read restored Data

In [384]:
restored=pd.read_excel('Incident Report-Restored_New_Queue_1(4).xlsx')

In [385]:
restored.head()

,INC Incident ID,INC CI Name,INC Summary,INC Impact,INC Goal Time Priority,INC Urgency,INC Priority,INC Service Type,INC Assigned Group,Group,...,INC Resolution Category Tier 3,INC Met SLA,INC Up Elapsed Time Sla1,MTTR-Hrs,INC Resolution,INC Resolved By,INC Group Transfers,INC Notes,INC Priority Original,Field IR
0,000000049195159,mbc31,mbc31: [BC9]SOFTWARE ERROR,3-Moderate/Limited,Medium 45h,3-Medium,Medium,User Service Restoration,CS Core Automated Surveillance,1,...,Application,Yes,371,0.103056,Duplicate INC INC000004090251,chatura1,1,mbc31: [BC9]SOFTWARE ERROR,Medium,No
1,INC000000736538,019539g,~R- CDM Issue No Traffic BSC-570 BCF-40 BTS-20...,3-Moderate/Limited,Medium 45h,3-Medium,Medium,User Service Restoration,Field Services,3PP_Field Support,...,Service Restored by Third Party Supplier,No,14510705,4030.751389,Vendor Resolution Reported,AR_ESCALATOR,2,No Traffic affecting V3 since the 03/09 at 13:...,Medium,Yes
2,INC000000888570,009252b0,~R- CDM Issue: PRX noise high on 1/3/9252 and ...,3-Moderate/Limited,Medium 45h,3-Medium,Medium,User Service Restoration,Field Services,3PP_Field Support,...,Service Restored by Third Party Supplier,No,11674344,3242.873333,Vendor Resolution Reported,srv_ericssonsupport,4,"PRX noise high on 1/3/9252 and 2/3/9252, pleas...",Medium,Yes
3,INC000001198332,000018b0,~R~CSR 000018 3G U9 Rx sig lev flr TF only E///,4-Minor/Localized,Low 90h,4-Low,Low,User Service Restoration,Field Services,3PP_Field Support,...,NaN,No,16339021,4538.616944,regional optimisers state there are no issues ...,itaylor,2,RNC-89/WBTS-39/WCEL-13\n7654-CELL OPERATION DE...,Low,Yes
4,INC000001321839,040265b0,~R - Connector - CSR 40265 3G WCEL-23&29 Causi...,4-Minor/Localized,Low 90h,4-Low,Low,User Service Restoration,Field Services,3PP_Field Support,...,Service Restored by Third Party Supplier,No,12919780,3588.827778,Incident Resolved at 06/05/2019 14:25:24,AR_ESCALATOR,10,** PIM TEST REQUIRED**\t\nRNC-645/WBTS-36/WCEL...,Low,Yes

In [386]:
restored.shape

(172147, 29)

In [387]:
restored['INC Submit Date'] = pd.to_datetime(restored['INC Submit Date'],format='%Y-%m-%d %H:%M:%S')
restored['INC Last Resolved Date'] = pd.to_datetime(restored['INC Last Resolved Date'],format='%Y-%m-%d %H:%M:%S')

In [388]:
restored_submit_Jan_Apr= restored[(restored['INC Submit Date'] >= '2020-01-01') & (restored['INC Submit Date'] < '2020-05-01')]
restored_submit_resolved_Jan_Apr= restored_submit_Jan_Apr[(restored_submit_Jan_Apr['INC Last Resolved Date'] >= '2020-01-01') & (restored_submit_Jan_Apr['INC Last Resolved Date'] < '2020-05-01')]

In [389]:
print(restored_submit_resolved_Jan_Apr['INC Submit Date'].min(),restored_submit_resolved_Jan_Apr['INC Submit Date'].max())
print(restored_submit_resolved_Jan_Apr['INC Last Resolved Date'].min(),restored_submit_resolved_Jan_Apr['INC Last Resolved Date'].max())

2020-01-01 00:21:49 2020-04-30 22:23:20
2020-01-01 00:28:30 2020-04-30 23:59:15

In [390]:
restored_submit_resolved_Jan_Apr.shape

(41151, 29)

# BT Resolved Cases

In [391]:
bt_restored_submit_resolved_Jan_Apr=restored_submit_resolved_Jan_Apr[restored_submit_resolved_Jan_Apr['INC Assigned Group'].isin(['BT','BT Circuit Test','Vendor Resolution - BT'])]

In [392]:
bt_restored_submit_resolved_Jan_Apr.shape

(330, 29)

In [393]:
len(bt_restored_submit_resolved_Jan_Apr['INC Incident ID'].unique())

330

# join with hop data

In [394]:
restored_hop=pd.merge(bt_restored_submit_resolved_Jan_Apr[['INC Incident ID','INC Goal Time Priority','INC Assigned Group','MTTR-Hrs','INC Last Resolved Date','INC Submit Date',]],
                     df2[['inc_incident_id','inc_assignment_hop','inc_assignment_support_group','inc_assignment_start_date','inc_assignment_end_date','inc_assignment_hours']],
                     how='left',left_on='INC Incident ID',right_on='inc_incident_id')

In [395]:
restored_hop.shape

(1708, 12)

In [396]:
len(restored_hop['inc_incident_id'].unique())

330

In [397]:
restored_hop.head()

,INC Incident ID,INC Goal Time Priority,INC Assigned Group,MTTR-Hrs,INC Last Resolved Date,INC Submit Date,inc_incident_id,inc_assignment_hop,inc_assignment_support_group,inc_assignment_start_date,inc_assignment_end_date,inc_assignment_hours
0,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,0.0,1st Line,2020-01-01 07:47:22,2020-01-01 08:26:54,0.66
1,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,1.0,Transmission,2020-01-01 08:26:54,2020-01-01 08:48:28,0.36
2,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,2.0,BT,2020-01-01 08:48:28,2020-01-01 20:24:46,11.61
3,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,3.0,Transmission,2020-01-01 20:24:46,2020-01-01 20:46:05,0.36
4,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,4.0,BT,2020-01-01 20:46:05,2020-01-02 05:21:49,8.60

In [398]:
total_incident_hours=restored_hop.groupby(['INC Incident ID'],as_index=False).agg({'inc_assignment_hours':'sum','inc_assignment_start_date':'min'})
total_incident_hours.columns=['INC Incident ID','Total Incident hours','First Assigment to any queue']

bt_support_only=restored_hop[restored_hop['inc_assignment_support_group'].isin(['BT','BT Circuit Test','Vendor Resolution - BT'])]


total_bt_incident_hours=bt_support_only.groupby(['INC Incident ID'],as_index=False).agg({'inc_assignment_hours':'sum'})
total_bt_incident_hours.columns=['INC Incident ID','Total Hours spent with BT Queue(Regardless of hops)']

First_Assignment_to_bt=bt_support_only.groupby(['INC Incident ID'],as_index=False).agg({'inc_assignment_start_date':'min'})
First_Assignment_to_bt.columns=['INC Incident ID','First Assignment Date to BT']

# Data Required

In [399]:
data_final_req=bt_restored_submit_resolved_Jan_Apr[['INC Incident ID','INC Assigned Group','INC Goal Time Priority','MTTR-Hrs','INC Last Resolved Date','INC Submit Date']].drop_duplicates()
data_final_req.shape
data_final_req.columns=['INC Incident ID','INC Assigned Group','Priority','Total Incident MTTR(hrs.)','Last Resolved Date by BT','INC Submit Date']

In [400]:
data_final_req.head()

,INC Incident ID,INC Assigned Group,Priority,Total Incident MTTR(hrs.),Last Resolved Date by BT,INC Submit Date
127099,INC000003915458,BT,Medium 45h,0.000000,2020-01-02 05:21:49,2020-01-01 07:47:26
127226,INC000003915809,BT,Medium 9h,9.000000,2020-01-02 18:27:08,2020-01-02 07:32:58
127227,INC000003915810,BT,Medium 9h,3.231667,2020-01-02 11:13:54,2020-01-02 07:33:11
127261,INC000003915968,BT,Medium 9h,7.700833,2020-01-03 04:37:36,2020-01-02 09:18:01
127284,INC000003915999,BT,Medium 9h,6.980556,2020-01-03 12:11:10,2020-01-02 14:00:11

In [401]:
data_final_req.shape

(330, 6)

In [402]:
data_final_req1=pd.merge(pd.merge(pd.merge(data_final_req,total_incident_hours,on='INC Incident ID',how='left'),
                         total_bt_incident_hours,how='left',on='INC Incident ID'),
                         First_Assignment_to_bt,how='left',on='INC Incident ID')
data_final_req1.head()

,INC Incident ID,INC Assigned Group,Priority,Total Incident MTTR(hrs.),Last Resolved Date by BT,INC Submit Date,Total Incident hours,First Assigment to any queue,Total Hours spent with BT Queue(Regardless of hops),First Assignment Date to BT
0,INC000003915458,BT,Medium 45h,0.000000,2020-01-02 05:21:49,2020-01-01 07:47:26,21.59,2020-01-01 07:47:22,20.21,2020-01-01 08:48:28
1,INC000003915809,BT,Medium 9h,9.000000,2020-01-02 18:27:08,2020-01-02 07:32:58,10.90,2020-01-02 07:32:52,8.70,2020-01-02 09:44:53
2,INC000003915810,BT,Medium 9h,3.231667,2020-01-02 11:13:54,2020-01-02 07:33:11,3.68,2020-01-02 07:33:06,1.88,2020-01-02 09:21:08
3,INC000003915968,BT,Medium 9h,7.700833,2020-01-03 04:37:36,2020-01-02 09:18:01,19.32,2020-01-02 09:17:57,18.59,2020-01-02 10:01:59
4,INC000003915999,BT,Medium 9h,6.980556,2020-01-03 12:11:10,2020-01-02 14:00:11,22.18,2020-01-02 14:00:05,20.46,2020-01-02 15:43:52

# Business Hours

In [403]:

restored_hop_bhs=restored_hop.copy()
restored_hop_bhs.head()

,INC Incident ID,INC Goal Time Priority,INC Assigned Group,MTTR-Hrs,INC Last Resolved Date,INC Submit Date,inc_incident_id,inc_assignment_hop,inc_assignment_support_group,inc_assignment_start_date,inc_assignment_end_date,inc_assignment_hours
0,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,0.0,1st Line,2020-01-01 07:47:22,2020-01-01 08:26:54,0.66
1,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,1.0,Transmission,2020-01-01 08:26:54,2020-01-01 08:48:28,0.36
2,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,2.0,BT,2020-01-01 08:48:28,2020-01-01 20:24:46,11.61
3,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,3.0,Transmission,2020-01-01 20:24:46,2020-01-01 20:46:05,0.36
4,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,4.0,BT,2020-01-01 20:46:05,2020-01-02 05:21:49,8.60

In [404]:
restored_hop_bhs['Duration']=restored_hop_bhs['inc_assignment_end_date']-restored_hop_bhs['inc_assignment_start_date']

restored_hop_bhs['inc_assignment_start_date_Date']=restored_hop_bhs['inc_assignment_start_date'].dt.date
restored_hop_bhs['inc_assignment_end_date_Date']=restored_hop_bhs['inc_assignment_end_date'].dt.date

In [405]:
df_Holiday=pd.read_excel('Holiday_2018-2020_new.xlsx')

In [406]:
df_Holiday.head()

        DATE
0 2020-12-28
1 2020-12-25
2 2020-08-31
3 2020-05-25
4 2020-05-08

In [407]:
df_Holiday['DATE']=df_Holiday['DATE'].dt.date
df_Holiday.head()

         DATE
0  2020-12-28
1  2020-12-25
2  2020-08-31
3  2020-05-25
4  2020-05-08

In [408]:
holidays_list=df_Holiday['DATE'].tolist()

In [409]:
holidays_list

[datetime.date(2020, 12, 28),
 datetime.date(2020, 12, 25),
 datetime.date(2020, 8, 31),
 datetime.date(2020, 5, 25),
 datetime.date(2020, 5, 8),
 datetime.date(2020, 4, 13),
 datetime.date(2020, 4, 10),
 datetime.date(2020, 1, 1),
 datetime.date(2019, 12, 26),
 datetime.date(2019, 12, 25),
 datetime.date(2019, 8, 26),
 datetime.date(2019, 5, 27),
 datetime.date(2019, 5, 6),
 datetime.date(2019, 4, 22),
 datetime.date(2019, 4, 19),
 datetime.date(2019, 1, 1),
 datetime.date(2018, 12, 26),
 datetime.date(2018, 12, 25),
 datetime.date(2018, 8, 27),
 datetime.date(2018, 5, 28),
 datetime.date(2018, 5, 7),
 datetime.date(2018, 4, 2),
 datetime.date(2018, 3, 30),
 datetime.date(2018, 1, 1)]

In [410]:
f = lambda x: len(pd.bdate_range(x['inc_assignment_start_date_Date'], x['inc_assignment_end_date_Date'], freq='C',holidays=holidays_list ))
restored_hop_bhs['BHS'] = restored_hop_bhs.apply(f, axis=1)

In [411]:
restored_hop_bhs[['inc_assignment_start_date','inc_assignment_end_date','BHS']].head()

  inc_assignment_start_date inc_assignment_end_date  BHS
0       2020-01-01 07:47:22     2020-01-01 08:26:54    0
1       2020-01-01 08:26:54     2020-01-01 08:48:28    0
2       2020-01-01 08:48:28     2020-01-01 20:24:46    0
3       2020-01-01 20:24:46     2020-01-01 20:46:05    0
4       2020-01-01 20:46:05     2020-01-02 05:21:49    1

In [412]:
restored_hop_bhs['BHS']=restored_hop_bhs['BHS']*9

In [413]:
restored_hop_bhs[['inc_assignment_start_date','inc_assignment_end_date','BHS']].head()

  inc_assignment_start_date inc_assignment_end_date  BHS
0       2020-01-01 07:47:22     2020-01-01 08:26:54    0
1       2020-01-01 08:26:54     2020-01-01 08:48:28    0
2       2020-01-01 08:48:28     2020-01-01 20:24:46    0
3       2020-01-01 20:24:46     2020-01-01 20:46:05    0
4       2020-01-01 20:46:05     2020-01-02 05:21:49    9

# Certain Criteria's

In [414]:
restored_hop_bhs['inc_assignment_start_date_Date'][0:1]

0    2020-01-01
Name: inc_assignment_start_date_Date, dtype: object

In [415]:
restored_hop_bhs['start_date_weekend_or_weeekday']=restored_hop_bhs['inc_assignment_start_date_Date'].apply(lambda x: x.weekday())
restored_hop_bhs['end_date_weekend_or_weeekday']=restored_hop_bhs['inc_assignment_end_date_Date'].apply(lambda x: x.weekday())

# if no <5: Weekday else weekend


restored_hop_bhs['Single_day_start_end_or_not']=np.where(restored_hop_bhs['inc_assignment_start_date_Date']==restored_hop_bhs['inc_assignment_end_date_Date'],1,0)

restored_hop_bhs['Start_day_weekend_or_not']=np.where(restored_hop_bhs['start_date_weekend_or_weeekday']>=5,1,0)
restored_hop_bhs['Start_day_holiday_or_not']=np.where(restored_hop_bhs['inc_assignment_start_date_Date'].isin(holidays_list),1,0)

restored_hop_bhs['End_day_weekend_or_not']=np.where(restored_hop_bhs['end_date_weekend_or_weeekday']>=5,1,0)
restored_hop_bhs['End_day_holiday_or_not']=np.where(restored_hop_bhs['inc_assignment_end_date_Date'].isin(holidays_list),1,0)

# Certain checks

In [416]:
restored_hop_bhs[restored_hop_bhs['Start_day_holiday_or_not']==1].head()

,INC Incident ID,INC Goal Time Priority,INC Assigned Group,MTTR-Hrs,INC Last Resolved Date,INC Submit Date,inc_incident_id,inc_assignment_hop,inc_assignment_support_group,inc_assignment_start_date,...,inc_assignment_start_date_Date,inc_assignment_end_date_Date,BHS,start_date_weekend_or_weeekday,end_date_weekend_or_weeekday,Single_day_start_end_or_not,Start_day_weekend_or_not,Start_day_holiday_or_not,End_day_weekend_or_not,End_day_holiday_or_not
0,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,0.0,1st Line,2020-01-01 07:47:22,...,2020-01-01,2020-01-01,0,2,2,1,0,1,0,1
1,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,1.0,Transmission,2020-01-01 08:26:54,...,2020-01-01,2020-01-01,0,2,2,1,0,1,0,1
2,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,2.0,BT,2020-01-01 08:48:28,...,2020-01-01,2020-01-01,0,2,2,1,0,1,0,1
3,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,3.0,Transmission,2020-01-01 20:24:46,...,2020-01-01,2020-01-01,0,2,2,1,0,1,0,1
4,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,4.0,BT,2020-01-01 20:46:05,...,2020-01-01,2020-01-02,9,2,3,0,0,1,0,0

In [417]:
restored_hop_bhs[restored_hop_bhs['End_day_holiday_or_not']==1].head()

,INC Incident ID,INC Goal Time Priority,INC Assigned Group,MTTR-Hrs,INC Last Resolved Date,INC Submit Date,inc_incident_id,inc_assignment_hop,inc_assignment_support_group,inc_assignment_start_date,...,inc_assignment_start_date_Date,inc_assignment_end_date_Date,BHS,start_date_weekend_or_weeekday,end_date_weekend_or_weeekday,Single_day_start_end_or_not,Start_day_weekend_or_not,Start_day_holiday_or_not,End_day_weekend_or_not,End_day_holiday_or_not
0,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,0.0,1st Line,2020-01-01 07:47:22,...,2020-01-01,2020-01-01,0,2,2,1,0,1,0,1
1,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,1.0,Transmission,2020-01-01 08:26:54,...,2020-01-01,2020-01-01,0,2,2,1,0,1,0,1
2,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,2.0,BT,2020-01-01 08:48:28,...,2020-01-01,2020-01-01,0,2,2,1,0,1,0,1
3,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,3.0,Transmission,2020-01-01 20:24:46,...,2020-01-01,2020-01-01,0,2,2,1,0,1,0,1
1415,INC000004075523,Medium 45h,Vendor Resolution - BT,36.0,2020-04-13 19:28:47,2020-04-05 09:21:29,INC000004075523,4.0,Field Services,2020-04-12 10:52:00,...,2020-04-12,2020-04-13,0,6,0,0,1,0,0,1

In [418]:
restored_hop_bhs[restored_hop_bhs['Start_day_weekend_or_not']==1].head()

,INC Incident ID,INC Goal Time Priority,INC Assigned Group,MTTR-Hrs,INC Last Resolved Date,INC Submit Date,inc_incident_id,inc_assignment_hop,inc_assignment_support_group,inc_assignment_start_date,...,inc_assignment_start_date_Date,inc_assignment_end_date_Date,BHS,start_date_weekend_or_weeekday,end_date_weekend_or_weeekday,Single_day_start_end_or_not,Start_day_weekend_or_not,Start_day_holiday_or_not,End_day_weekend_or_not,End_day_holiday_or_not
24,INC000003919361,Medium 9h,BT,0.0,2020-01-04 19:15:58,2020-01-04 07:39:45,INC000003919361,0.0,1st Line,2020-01-04 07:39:38,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0
25,INC000003919361,Medium 9h,BT,0.0,2020-01-04 19:15:58,2020-01-04 07:39:45,INC000003919361,1.0,Transmission,2020-01-04 08:28:15,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0
26,INC000003919361,Medium 9h,BT,0.0,2020-01-04 19:15:58,2020-01-04 07:39:45,INC000003919361,2.0,BT,2020-01-04 09:26:08,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0
27,INC000003919428,Medium 9h,BT,0.0,2020-01-04 23:51:50,2020-01-04 18:21:53,INC000003919428,0.0,1st Line,2020-01-04 18:21:46,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0
28,INC000003919428,Medium 9h,BT,0.0,2020-01-04 23:51:50,2020-01-04 18:21:53,INC000003919428,1.0,Transmission,2020-01-04 18:46:40,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0

In [419]:
restored_hop_bhs[restored_hop_bhs['End_day_weekend_or_not']==1].head()

,INC Incident ID,INC Goal Time Priority,INC Assigned Group,MTTR-Hrs,INC Last Resolved Date,INC Submit Date,inc_incident_id,inc_assignment_hop,inc_assignment_support_group,inc_assignment_start_date,...,inc_assignment_start_date_Date,inc_assignment_end_date_Date,BHS,start_date_weekend_or_weeekday,end_date_weekend_or_weeekday,Single_day_start_end_or_not,Start_day_weekend_or_not,Start_day_holiday_or_not,End_day_weekend_or_not,End_day_holiday_or_not
24,INC000003919361,Medium 9h,BT,0.0,2020-01-04 19:15:58,2020-01-04 07:39:45,INC000003919361,0.0,1st Line,2020-01-04 07:39:38,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0
25,INC000003919361,Medium 9h,BT,0.0,2020-01-04 19:15:58,2020-01-04 07:39:45,INC000003919361,1.0,Transmission,2020-01-04 08:28:15,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0
26,INC000003919361,Medium 9h,BT,0.0,2020-01-04 19:15:58,2020-01-04 07:39:45,INC000003919361,2.0,BT,2020-01-04 09:26:08,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0
27,INC000003919428,Medium 9h,BT,0.0,2020-01-04 23:51:50,2020-01-04 18:21:53,INC000003919428,0.0,1st Line,2020-01-04 18:21:46,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0
28,INC000003919428,Medium 9h,BT,0.0,2020-01-04 23:51:50,2020-01-04 18:21:53,INC000003919428,1.0,Transmission,2020-01-04 18:46:40,...,2020-01-04,2020-01-04,0,5,5,1,1,0,1,0

# Creating common indicator for weekend and off

In [420]:
restored_hop_bhs['Start_day_weekend_or_holiday']=np.where((restored_hop_bhs['Start_day_holiday_or_not']==1) | (restored_hop_bhs['Start_day_weekend_or_not']==1),1,0)

restored_hop_bhs['End_day_weekend_or_holiday']=np.where((restored_hop_bhs['End_day_holiday_or_not']==1) | (restored_hop_bhs['End_day_weekend_or_not']==1),1,0)

In [421]:
restored_hop_bhs.head()

,INC Incident ID,INC Goal Time Priority,INC Assigned Group,MTTR-Hrs,INC Last Resolved Date,INC Submit Date,inc_incident_id,inc_assignment_hop,inc_assignment_support_group,inc_assignment_start_date,...,BHS,start_date_weekend_or_weeekday,end_date_weekend_or_weeekday,Single_day_start_end_or_not,Start_day_weekend_or_not,Start_day_holiday_or_not,End_day_weekend_or_not,End_day_holiday_or_not,Start_day_weekend_or_holiday,End_day_weekend_or_holiday
0,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,0.0,1st Line,2020-01-01 07:47:22,...,0,2,2,1,0,1,0,1,1,1
1,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,1.0,Transmission,2020-01-01 08:26:54,...,0,2,2,1,0,1,0,1,1,1
2,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,2.0,BT,2020-01-01 08:48:28,...,0,2,2,1,0,1,0,1,1,1
3,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,3.0,Transmission,2020-01-01 20:24:46,...,0,2,2,1,0,1,0,1,1,1
4,INC000003915458,Medium 45h,BT,0.0,2020-01-02 05:21:49,2020-01-01 07:47:26,INC000003915458,4.0,BT,2020-01-01 20:46:05,...,9,2,3,0,0,1,0,0,1,0

# Continuing to deal with certain conditions

In [422]:
restored_hop_bhs.shape

(1708, 25)

In [423]:

# same date open & close
data1=restored_hop_bhs[restored_hop_bhs['Single_day_start_end_or_not']==1]


# Different day open & close + open (non business day) + closed (non business day)
data2=restored_hop_bhs[(restored_hop_bhs['Single_day_start_end_or_not']==0) & (restored_hop_bhs['Start_day_weekend_or_holiday']==1) & (restored_hop_bhs['End_day_weekend_or_holiday']==1)]


# Different day open & close + open (business day) + closed (non business day)
data3=restored_hop_bhs[(restored_hop_bhs['Single_day_start_end_or_not']==0) & (restored_hop_bhs['Start_day_weekend_or_holiday']==0) & (restored_hop_bhs['End_day_weekend_or_holiday']==1)]


# Different day open & close + open (non business day) + closed (business day)
data4=restored_hop_bhs[(restored_hop_bhs['Single_day_start_end_or_not']==0) & (restored_hop_bhs['Start_day_weekend_or_holiday']==1) & (restored_hop_bhs['End_day_weekend_or_holiday']==0)]


# Different day open & close + open (business day) + closed (business day)
data5=restored_hop_bhs[(restored_hop_bhs['Single_day_start_end_or_not']==0) & (restored_hop_bhs['Start_day_weekend_or_holiday']==0) & (restored_hop_bhs['End_day_weekend_or_holiday']==0)]

In [424]:
print(data1.shape,data2.shape,data3.shape,data4.shape,data5.shape)

(1207, 25) (28, 25) (78, 25) (63, 25) (332, 25)

In [426]:
1207+28+78+63+332

1708

In [427]:
restored_hop_bhs.shape

(1708, 25)

# Handling functions for 5 data's

# Data 1 same date open & close

In [428]:
def func1(data):
    
    data['inc_assignment_start_date Timestamp']=data['inc_assignment_start_date'].dt.time
    data['inc_assignment_start_date Timestamp2']=data['inc_assignment_start_date Timestamp'].apply(str)
    data['inc_assignment_start_date Timestamp3']=data['inc_assignment_start_date Timestamp2'].apply(lambda x: int(x[0:2])*60 + int(x[3:5]))
    data['inc_assignment_end_date Timestamp']=data['inc_assignment_end_date'].dt.time
    data['inc_assignment_end_date Timestamp2']=data['inc_assignment_end_date Timestamp'].apply(str)
    data['inc_assignment_end_date Timestamp3']=data['inc_assignment_end_date Timestamp2'].apply(lambda x: int(x[0:2])*60 + int(x[3:5]))

    
    # same day open & closure but not a business day it is
    data_1=data[data['BHS']==0]

    # reamining data
    data_2=data[data['BHS']!=0]
    
    data_2['BHS']=data_2['BHS']-9
    
    data_2['BHS']=np.where(data_2['inc_assignment_start_date Timestamp3']> 1020, 0,
                       np.where(((data_2['inc_assignment_start_date Timestamp3']<= 1020) & (data_2['inc_assignment_start_date Timestamp3'] >= 480) & ((data_2['inc_assignment_end_date Timestamp3'] <= 1020))),(data_2['inc_assignment_end_date Timestamp3']-data_2['inc_assignment_start_date Timestamp3'])/60,
                                np.where(((data_2['inc_assignment_start_date Timestamp3']<= 1020) & (data_2['inc_assignment_start_date Timestamp3'] >= 480) & ((data_2['inc_assignment_end_date Timestamp3'] > 1020))),(1020-data_2['inc_assignment_start_date Timestamp3'])/60,
                                        np.where(((data_2['inc_assignment_start_date Timestamp3']<480) & (data_2['inc_assignment_end_date Timestamp3']<480)),0,
                                                np.where(((data_2['inc_assignment_start_date Timestamp3']<480) & (data_2['inc_assignment_end_date Timestamp3']>=480) & (data_2['inc_assignment_end_date Timestamp3']<=1020)), (data_2['inc_assignment_end_date Timestamp3']-480)/60,
                                                         np.where(((data_2['inc_assignment_start_date Timestamp3']<480) & (data_2['inc_assignment_end_date Timestamp3']> 1020)),9,'Not handled'))))))
                                                 
                                                         

    data_new=data_1.append([data_2])
    
    data_new['BHS']=data_new['BHS'].astype(float)
    
    return data_new

In [429]:
data1_BHS=func1(data1)

In [430]:
data1_BHS[['inc_assignment_start_date','inc_assignment_end_date','BHS','inc_assignment_start_date Timestamp3','inc_assignment_end_date Timestamp3']].tail()

,inc_assignment_start_date,inc_assignment_end_date,BHS,inc_assignment_start_date Timestamp3,inc_assignment_end_date Timestamp3
1699,2020-04-22 10:50:31,2020-04-22 14:15:32,3.416667,650,855
1700,2020-04-22 14:15:32,2020-04-22 14:41:35,0.433333,855,881
1701,2020-04-22 14:41:35,2020-04-22 18:57:16,2.316667,881,1137
1705,2020-04-28 12:14:20,2020-04-28 22:45:20,4.766667,734,1365
1706,2020-04-28 22:45:20,2020-04-28 23:15:51,0.000000,1365,1395

In [436]:
data1_BHS[data1_BHS['BHS']<0][['inc_assignment_start_date','inc_assignment_end_date','BHS']].head()

    inc_assignment_start_date inc_assignment_end_date       BHS
465       2020-02-04 15:51:09     2020-02-04 15:22:49 -0.483333

# Data 2 Different day open & close + open (non business day) + closed (non business day)

In [437]:
def func2(data=data2):
    
    # No need to do anything, bcz open and close are off's, their hours are already not considered in BHS calculation
    
    data['BHS']=data['BHS'].astype(float)
    
    return data

In [438]:
data2_BHS=func2(data2)

In [439]:
data2_BHS[['inc_assignment_start_date','inc_assignment_end_date','BHS']].head()

    inc_assignment_start_date inc_assignment_end_date  BHS
35        2020-01-04 18:52:36     2020-01-05 04:44:25  0.0
128       2020-01-11 11:05:43     2020-01-12 10:53:59  0.0
136       2020-01-11 21:32:34     2020-01-12 01:21:26  0.0
229       2020-01-18 21:18:00     2020-01-19 05:00:34  0.0
272       2020-01-18 09:44:21     2020-01-19 00:20:22  0.0

In [440]:
data2_BHS['BHS'].describe()

count    28.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: BHS, dtype: float64

# Data 3 Different day open & close + open (business day) + closed (non business day)

In [441]:
def func3(data):
    
    data['BHS']=data['BHS']-9
    data['inc_assignment_start_date Timestamp']=data['inc_assignment_start_date'].dt.time
    data['inc_assignment_start_date Timestamp2']=data['inc_assignment_start_date Timestamp'].apply(str)
    data['inc_assignment_start_date Timestamp3']=data['inc_assignment_start_date Timestamp2'].apply(lambda x: int(x[0:2])*60 + int(x[3:5]))

    
    data['BHS']=np.where(data['inc_assignment_start_date Timestamp3']> 1020, data['BHS']+0,
                   np.where(((data['inc_assignment_start_date Timestamp3']<= 1020) & (data['inc_assignment_start_date Timestamp3'] >= 480)),data['BHS']+(1020-data['inc_assignment_start_date Timestamp3'])/60,
                            np.where(data['inc_assignment_start_date Timestamp3']< 480,data['BHS']+9,'Not handled yet')))
    
    data['BHS']=data['BHS'].astype(float)
    
    return data

In [442]:
data3_BHS=func3(data3)

In [443]:
data3_BHS[['inc_assignment_start_date','inc_assignment_end_date','BHS','inc_assignment_start_date Timestamp3']].head()

,inc_assignment_start_date,inc_assignment_end_date,BHS,inc_assignment_start_date Timestamp3
57,2020-01-10 19:15:18,2020-01-12 04:54:02,0.0,1155
116,2020-01-10 22:51:10,2020-01-11 11:32:17,0.0,1371
153,2020-01-17 07:42:09,2020-01-18 06:55:45,9.0,462
164,2020-01-17 03:23:04,2020-01-19 14:09:24,9.0,203
198,2020-01-15 23:24:00,2020-01-18 13:55:15,18.0,1404

In [444]:
data3_BHS['BHS'].describe()

count    78.000000
mean      4.080769
std       6.012714
min       0.000000
25%       0.000000
50%       0.075000
75%       7.991667
max      27.000000
Name: BHS, dtype: float64

# Data 4 Different day open & close + open (non business day) + closed (business day)

In [445]:
def func4(data):

    data['BHS']=data['BHS']-9
    data['inc_assignment_end_date Timestamp']=data['inc_assignment_end_date'].dt.time
    data['inc_assignment_end_date Timestamp2']=data['inc_assignment_end_date Timestamp'].apply(str)
    data['inc_assignment_end_date Timestamp3']=data['inc_assignment_end_date Timestamp2'].apply(lambda x: int(x[0:2])*60 + int(x[3:5]))

    
    data['BHS']=np.where(data['inc_assignment_end_date Timestamp3']> 1020, data['BHS']+9,
               np.where(((data['inc_assignment_end_date Timestamp3']<= 1020) & (data['inc_assignment_end_date Timestamp3'] >= 480)),data['BHS']+(data['inc_assignment_end_date Timestamp3']-480)/60,
                        np.where(data['inc_assignment_end_date Timestamp3']< 480,data['BHS']+0,'Not handled yet')))

    data['BHS']=data['BHS'].astype(float)
    
    return data

In [446]:
data4_BHS=func4(data4)

In [447]:
data4_BHS[['inc_assignment_start_date','inc_assignment_end_date','BHS','inc_assignment_end_date Timestamp3']].head()

,inc_assignment_start_date,inc_assignment_end_date,BHS,inc_assignment_end_date Timestamp3
4,2020-01-01 20:46:05,2020-01-02 05:21:49,0.000000,321
38,2020-01-04 23:57:24,2020-01-24 07:10:09,126.000000,430
43,2020-01-05 09:52:28,2020-01-08 19:32:27,27.000000,1172
60,2020-01-12 06:32:36,2020-01-13 12:39:10,4.650000,759
118,2020-01-11 14:56:09,2020-01-13 15:08:01,7.133333,908

In [448]:
data4_BHS['BHS'].describe()

count     63.000000
mean      10.963757
std       17.834420
min        0.000000
25%        1.083333
50%        7.733333
75%       13.708333
max      126.000000
Name: BHS, dtype: float64

# Data 5 Different day open & close + open (business day) + closed (business day)

In [449]:
def func5(data):
    data['BHS']=data['BHS']-18
    
    data['inc_assignment_start_date Timestamp']=data['inc_assignment_start_date'].dt.time
    data['inc_assignment_start_date Timestamp2']=data['inc_assignment_start_date Timestamp'].apply(str)
    data['inc_assignment_start_date Timestamp3']=data['inc_assignment_start_date Timestamp2'].apply(lambda x: int(x[0:2])*60 + int(x[3:5]))


    data['inc_assignment_end_date Timestamp']=data['inc_assignment_end_date'].dt.time
    data['inc_assignment_end_date Timestamp2']=data['inc_assignment_end_date Timestamp'].apply(str)
    data['inc_assignment_end_date Timestamp3']=data['inc_assignment_end_date Timestamp2'].apply(lambda x: int(x[0:2])*60 + int(x[3:5]))


    data['BHS']=np.where(data['inc_assignment_start_date Timestamp3']> 1020, data['BHS']+0,
               np.where(((data['inc_assignment_start_date Timestamp3']<= 1020) & (data['inc_assignment_start_date Timestamp3'] >= 480)),data['BHS']+(1020-data['inc_assignment_start_date Timestamp3'])/60,
                        np.where(data['inc_assignment_start_date Timestamp3']< 480,data['BHS']+9,'Not handled yet')))

    data['BHS']=data['BHS'].astype(float)




    data['BHS']=np.where(data['inc_assignment_end_date Timestamp3']> 1020, data['BHS']+9,
           np.where(((data['inc_assignment_end_date Timestamp3']<= 1020) & (data['inc_assignment_end_date Timestamp3'] >= 480)),data['BHS']+(data['inc_assignment_end_date Timestamp3']-480)/60,
                    np.where(data['inc_assignment_end_date Timestamp3']< 480,data['BHS']+0,'Not handled yet')))


    data['BHS']=data['BHS'].astype(float)
    
    return data

In [450]:
data5_BHS=func5(data5)

In [451]:
data5_BHS[['inc_assignment_start_date','inc_assignment_end_date','BHS','inc_assignment_start_date Timestamp3','inc_assignment_end_date Timestamp3']].head()

,inc_assignment_start_date,inc_assignment_end_date,BHS,inc_assignment_start_date Timestamp3,inc_assignment_end_date Timestamp3
13,2020-01-02 10:01:59,2020-01-03 04:37:36,6.983333,601,277
17,2020-01-02 15:43:52,2020-01-03 12:11:10,5.466667,943,731
20,2020-01-02 23:53:54,2020-01-03 01:00:03,0.000000,1433,60
51,2020-01-06 06:30:54,2020-01-08 04:59:02,18.000000,390,299
52,2020-01-08 04:59:02,2020-01-09 08:52:42,9.866667,299,532

In [452]:
data5_BHS['BHS'].describe()

count    332.000000
mean      11.111044
std       19.723771
min       -9.550000
25%        1.066667
50%        6.091667
75%       12.150000
max      180.000000
Name: BHS, dtype: float64

In [455]:
data5_BHS[data5_BHS['BHS']<0][['inc_assignment_start_date','inc_assignment_end_date','BHS']]

    inc_assignment_start_date inc_assignment_end_date   BHS
360       2020-01-30 10:30:43     2020-01-28 22:54:44 -2.50
692       2020-03-04 16:47:19     2020-03-03 16:14:45 -9.55

# Final Data

In [456]:
Final_BHS_data=data1_BHS.append([data2_BHS,data3_BHS,data4_BHS,data5_BHS])

In [457]:
Final_BHS_data.shape

(1708, 31)

# QC data export

In [282]:
Final_BHS_data.to_csv('QC_BHS_Data_new_BT.csv',index=False)

In [458]:
Final_BHS_data[['inc_assignment_start_date','inc_assignment_end_date','BHS','inc_assignment_start_date Timestamp3','inc_assignment_end_date Timestamp3']].tail()

,inc_assignment_start_date,inc_assignment_end_date,BHS,inc_assignment_start_date Timestamp3,inc_assignment_end_date Timestamp3
1685,2020-04-21 18:28:43,2020-04-22 02:19:02,0.000000,1108.0,139.0
1687,2020-04-22 05:39:15,2020-04-23 11:54:30,12.900000,339.0,714.0
1689,2020-04-23 12:22:14,2020-04-24 06:42:31,4.633333,742.0,402.0
1695,2020-04-24 10:25:03,2020-04-27 19:17:55,15.583333,625.0,1157.0
1707,2020-04-28 23:15:51,2020-04-29 05:31:09,0.000000,1395.0,331.0

# Aggregating

In [284]:
total_MTTR_hours=Final_BHS_data.groupby(['INC Incident ID'],as_index=False).agg({'BHS':'sum'})
total_MTTR_hours.columns=['INC Incident ID','Total Incident MTTR(hrs.)_calculated']

bt_support_only_1=Final_BHS_data[Final_BHS_data['inc_assignment_support_group'].isin(['BT','BT Circuit Test','Vendor Resolution - BT'])]


total_bt_MTTR_hours=bt_support_only_1.groupby(['INC Incident ID'],as_index=False).agg({'BHS':'sum'})
total_bt_MTTR_hours.columns=['INC Incident ID','BT MTTR (Regardless of hops) hrs._calculated']

In [285]:
data_final_req2=pd.merge(pd.merge(data_final_req1,total_MTTR_hours,on='INC Incident ID',how='left'),
                         total_bt_MTTR_hours,how='left',on='INC Incident ID')

# data_final_req2=pd.merge(data_final_req1,total_field_MTTR_hours,how='left',on='INC Incident ID')

data_final_req2.tail()

,INC Incident ID,INC Assigned Group,Priority,Total Incident MTTR(hrs.),Last Resolved Date by BT,INC Submit Date,Total Incident hours,First Assigment to any queue,Total Hours spent with BT Queue(Regardless of hops),First Assignment Date to BT,Total Incident MTTR(hrs.)_calculated,BT MTTR (Regardless of hops) hrs._calculated
325,INC000004096301,Vendor Resolution - BT,Medium 9h,35.323889,2020-04-27 19:17:55,2020-04-22 00:13:10,139.08,2020-04-22 00:12:59,99.93,2020-04-23 12:22:14,36.000000,20.933333
326,INC000004096503,Vendor Resolution - BT,Medium 9h,5.677778,2020-04-22 15:54:03,2020-04-22 10:13:25,5.68,2020-04-22 10:13:23,4.29,2020-04-22 11:36:44,5.683333,4.300000
327,INC000004096517,Vendor Resolution - BT,Medium 9h,6.158056,2020-04-22 18:57:16,2020-04-22 10:50:41,8.11,2020-04-22 10:50:31,4.26,2020-04-22 14:41:35,6.166667,2.316667
328,INC000004101689,Vendor Resolution - BT,Medium 9h,0.000000,2020-04-25 17:23:59,2020-04-25 09:32:13,7.87,2020-04-25 09:32:09,6.00,2020-04-25 11:24:15,0.000000,0.000000
329,INC000004104914,Vendor Resolution - BT,Low 90h,4.779444,2020-04-29 05:31:09,2020-04-28 12:14:23,17.29,2020-04-28 12:14:20,6.26,2020-04-28 23:15:51,4.766667,0.000000

In [286]:
data_final_req2.head()

,INC Incident ID,INC Assigned Group,Priority,Total Incident MTTR(hrs.),Last Resolved Date by BT,INC Submit Date,Total Incident hours,First Assigment to any queue,Total Hours spent with BT Queue(Regardless of hops),First Assignment Date to BT,Total Incident MTTR(hrs.)_calculated,BT MTTR (Regardless of hops) hrs._calculated
0,INC000003915458,BT,Medium 45h,0.000000,2020-01-02 05:21:49,2020-01-01 07:47:26,21.59,2020-01-01 07:47:22,20.21,2020-01-01 08:48:28,0.000000,0.000000
1,INC000003915809,BT,Medium 9h,9.000000,2020-01-02 18:27:08,2020-01-02 07:32:58,10.90,2020-01-02 07:32:52,8.70,2020-01-02 09:44:53,9.000000,7.266667
2,INC000003915810,BT,Medium 9h,3.231667,2020-01-02 11:13:54,2020-01-02 07:33:11,3.68,2020-01-02 07:33:06,1.88,2020-01-02 09:21:08,3.216667,1.866667
3,INC000003915968,BT,Medium 9h,7.700833,2020-01-03 04:37:36,2020-01-02 09:18:01,19.32,2020-01-02 09:17:57,18.59,2020-01-02 10:01:59,7.716667,6.983333
4,INC000003915999,BT,Medium 9h,6.980556,2020-01-03 12:11:10,2020-01-02 14:00:11,22.18,2020-01-02 14:00:05,20.46,2020-01-02 15:43:52,7.183333,5.466667

# Final QC MTTR hr. from Restored report & MTTR hr.calculated by us

In [287]:
final_qc=data_final_req2[['INC Incident ID','INC Assigned Group','Priority','INC Submit Date','First Assigment to any queue','First Assignment Date to BT','Last Resolved Date by BT','Total Incident hours','Total Hours spent with BT Queue(Regardless of hops)','Total Incident MTTR(hrs.)','Total Incident MTTR(hrs.)_calculated','BT MTTR (Regardless of hops) hrs._calculated']]

In [288]:
final_qc.head()

,INC Incident ID,INC Assigned Group,Priority,INC Submit Date,First Assigment to any queue,First Assignment Date to BT,Last Resolved Date by BT,Total Incident hours,Total Hours spent with BT Queue(Regardless of hops),Total Incident MTTR(hrs.),Total Incident MTTR(hrs.)_calculated,BT MTTR (Regardless of hops) hrs._calculated
0,INC000003915458,BT,Medium 45h,2020-01-01 07:47:26,2020-01-01 07:47:22,2020-01-01 08:48:28,2020-01-02 05:21:49,21.59,20.21,0.000000,0.000000,0.000000
1,INC000003915809,BT,Medium 9h,2020-01-02 07:32:58,2020-01-02 07:32:52,2020-01-02 09:44:53,2020-01-02 18:27:08,10.90,8.70,9.000000,9.000000,7.266667
2,INC000003915810,BT,Medium 9h,2020-01-02 07:33:11,2020-01-02 07:33:06,2020-01-02 09:21:08,2020-01-02 11:13:54,3.68,1.88,3.231667,3.216667,1.866667
3,INC000003915968,BT,Medium 9h,2020-01-02 09:18:01,2020-01-02 09:17:57,2020-01-02 10:01:59,2020-01-03 04:37:36,19.32,18.59,7.700833,7.716667,6.983333
4,INC000003915999,BT,Medium 9h,2020-01-02 14:00:11,2020-01-02 14:00:05,2020-01-02 15:43:52,2020-01-03 12:11:10,22.18,20.46,6.980556,7.183333,5.466667

In [289]:
final_qc.to_csv('MTTR_restored_and_our_comparison_new_BT.csv',index=False)

# Final James data

In [290]:
James_data=data_final_req2[['INC Incident ID','INC Assigned Group','Priority','First Assignment Date to BT','Last Resolved Date by BT','Total Incident hours','Total Hours spent with BT Queue(Regardless of hops)','Total Incident MTTR(hrs.)','BT MTTR (Regardless of hops) hrs._calculated']]

In [291]:
James_data.to_csv('final_James_Data_Requested_new_BT.csv',index=False)